
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // User can only read/write to their own avatar directory.
    match /avatars/{userId}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // User can only read/write to their own CVs directory.
    match /cvs/{userId}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // User can only read/write to their own documents directory.
    match /documents/{userId}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
